name: Test APWorld
on:
  push:
  pull_request:


jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: Eijebong/ap-actions/ap-tests@main
        with:
          apworld-path: manual_xenobladechronicles3ag_garfunkiel
          apworld-name: manual_xenobladechronicles3ag_garfunkiel
          ap-version: '0.6.1'
          python-version: '3.12'
